---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Pagina de onboarding">
	<main>
		<h1 class="text-center">Portal de Bienvenida de Aureus Law</h1>
		<h3 class="text-center">Una experiencia segura y guiada para iniciar su caso.</h3>
	</main>

	<footer>
		<p class="text-center">Impulsado por Aureus Law ©2025</p>
	</footer>
</Layout>
