---
import Layout from "@/layouts/Layout.astro";

export const prerender = true;
// Le dices a Astro que esta página, aunque sea dinámica en su ruta,
// debe ser tratada como estática (SSG) en el build.
---

<Layout title="Login para el abogado">
  <main>
    <h1 class="text-center">Welcome to Login</h1>
  </main>
</Layout>
