---
interface Props {
    defaultValue: string;
    class?: string;
}

const { defaultValue, class: className } = Astro.props;
---

<ui-tabs class:list={["w-full block", className]} data-default={defaultValue}>
    <div class="flex border-b border-border-weak mb-8">
        <slot name="list" />
    </div>
    <div class="relative">
        <slot name="content" />
    </div>
</ui-tabs>

<script>
    import "@/components/interactive/UiTabs";
</script>
